/* Styles for the .mox class */
.mox {
    height: auto;
    width: 100%;
    border: 1px solid #E5E5E5;
    padding: 15px;
    margin: 15px 0;
    background-color: #F9F9F9;
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;
}

.mox img {
    height: auto;
    width: 100%;
}

/* Quicktags button styles */
#qt_content_eg_strong,
#qt_content_eg_h1,
#qt_content_eg_h2,
#qt_content_eg_h3,
#qt_content_eg_h4,
#qt_content_eg_h5,
#qt_content_eg_hr,
#qt_content_eg_nbsp,
#qt_content_eg_mox {
    background-color: #777;
    color: #fff;
}
